<section id="post-container">
    {{!-- <div class="post">
        <div class="post-header">
            <h3 class="post-title">Title</h3>
            <p class="post-info">Posted by</p>
        </div>
        <p class="post-content">This is a post conmtent</p>
    </div> --}}
</section>
<script src="/js/home.js"></script>