<section id="post-container">
    <div class="post">
        <div class="post-header">
            <h3 class="post-title">Title</h3>
            <p>Posted by <span class="post-author">Author</span> on <span class="post-date">today</span></p>
        </div>
        <p class="post-content">This is a post conmtent</p>
    </div>
</section>
    <script src="/js/home.js"></script>