<section id="forms-page">
    <form id="login-form">
        <label>Username:</label>
        <input type="text" id="username-input">
        <label>Password:</label>
        <input type="password" id="password-input">
        <button class="submit-button">Login</button>
    </form>

    <form id="new-user-form">
        <label>Username:</label>
        <input type="text" id="new-username">
        <label>Password:</label>
        <input type="password" id="new-password">
        <button type="submit" class="submit-button">Create User</button>
    </form>
    <p id="change-form">Create User</p>

    <script src="/js/login.js"></script>
</section> 